body {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    padding: 0;
    margin: 0;
}

.header-container {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px 60px 60px 60px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.intro-picture {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.intro {
    flex: 1;
}

.image-main {
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: center;
}

.image-placeholder {
    width: 300px;
    height: 150px;
    background-color: gray;
}

.info-title {
    text-align: center;
    margin: 30px 0;
}

.info {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.images-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.image {
    width: 75px;
    height: 75px;
    border: 1px solid blue;
}

.quote-container {
    background-color: #E5E7EB;
    padding: 60px 200px 60px 200px;
}

.quote {
    font-style: italic;
}

.quote-author {
    font-weight: bold;
    text-align: right;
}

.register-container {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
}

.register {
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    width: 500px;
    height: 100px;
    padding: 20px 40px;
    gap: 50px;
}

.register-text {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.register-button {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 20px 0;
}

h6, h4, p {
    padding: 0;
    margin: 0;
}

button {
    width: 100px;
    height: 30px;
}
