body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
    padding: 0;
    margin: 0;
}

.header-container {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px 150px 150px 150px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.links {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 20px;
}

.intro-picture {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.intro {
    flex: 1;
}

.intro-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;

}

.intro-text {
    font-size: 24px;
    color: #F9FAF8;
    margin-bottom: 10px;
}

.image-main {
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: center;
}

.image-placeholder {
    width: 300px;
    height: 150px;
    background-color: gray;
}

.info-title {
    text-align: center;
    margin: 60px 0;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.info {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
}

.images-container {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.image {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 10px;
}

.quote-container {
    background-color: #E5E7EB;
    padding: 120px 250px 120px 250px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.quote-author {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    padding-right: 35px;
}

.register-container {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.register {
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 140px;
    border-radius: 10px;
}

.register-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
}

.register-title {
    color: #F9FAF8;
    font-size: 20px;
}

.register-description {
    color: #E5E7EB;
}

.register-button {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding-right: 100px;
}

.footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 40px 0;
    font-weight: 200;
}

h6, h4, p {
    padding: 0;
    margin: 0;
}

button {
    width: 120px;
    height: 30px;
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
}

.button-2 {
    border: 1px solid white;
}
